.Rproj.user
.Rhistory
.RData
.Ruserdata
*/R Plots/
data/plays_2014_2020.csv
data/games_done.csv
data/tweet_id.csv
Shiny App/Prod App/Staturdays/.Renviron
Shiny App/Prod App/Staturdays/rsconnect
.venv
.Renviron
*/.Renviron
.vscode
*.pyc
*.parquet
model*.txt
model*.pickle
eval*.txt